<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Amazin Bookstore</title>

  <!-- Use Tailwind for CSS -->
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
  <div>
    <form th:action="${book} == null ? '/home/add-book' : '/home/edit-book'" method="POST">
      <p>ISBN: <input type="text" name="isbn" class="border-2 rounded-md" th:value="${book} == null ? '' : ${book.getIsbn()}" th:disabled="${book} != null"/>
      <p>Title: <input type="text" name="title" class="border-2 rounded-md" th:value="${book} == null ? '' : ${book.getTitle()}" th:disabled="${book} != null"/>
      <p>Description: <textarea type="text" name="description" class="border-2 rounded-md" th:value="${book} == null ? '' : ${book.getDescription()}"></textarea>
      <p>Author: <input type="text" name="author" class="border-2 rounded-md" th:value="${book} == null ? '' : ${book.getAuthor()}" th:disabled="${book} != null"/>
      <p>Publisher: <input type="text" name="publisher" class="border-2 rounded-md" th:value="${book} == null ? '' : ${book.getPublisher()}" th:disabled="${book} != null"/>
      <p>Inventory: <input type="number" name="inventory" class="border-2 rounded-md" min="0" th:value="${book} == null ? '' : ${book.getInventory()}"/>
      <p hidden="hidden">Book ID:<input th:disabled="${book} == null" type="hidden" name="book_id" class="border-2 rounded-md" th:value="${book} == null ? null : ${book.getId()}">
      <p>
        <button class="ease-in-out duration-300 hover:bg-blue-800 hover:text-white border-blue-800 border-2 rounded-md px-4 py-1" type="submit"  th:text="${book == null} ? 'Add' : 'Edit'"></button>
        <button class="ease-in-out duration-300 hover:bg-blue-800 hover:text-white border-blue-800 border-2 rounded-md px-4 py-1" type="Reset">Reset</button>
      </p>
    </form>
    <form action="/home" method="GET">
      <button class="ease-in-out duration-300 hover:bg-blue-800 hover:text-white border-blue-800 border-2 rounded-md px-4 py-1" type="submit">Back</button>
    </form>
  </div>
</body>
</html>