<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Amazin Bookstore</title>

    <!-- Use Tailwind for CSS -->
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <!-- Include header at top of page -->
    <div th:insert="~{header :: header}"></div>

    <!-- Cart table for books -->
    <div class="mx-4">
        <table th:unless="${books == null || books.isEmpty()}" class="w-full">
            <thead>
            <tr>
                <th></th>
                <th>ISBN</th>
                <th>Title</th>
                <th>Order Amount</th>
                <th>Actions</th>
            </tr>
            </thead>

            <tbody class="text-center">
            <tr th:each="book : ${books.keySet()}">
                <td class="w-16 h-16">
                    <img th:src="${book.getImageUrl()}">
                </td>
                <td>
                    <p th:text="${book.getIsbn()}" />
                </td>
                <td>
                    <p th:text="${book.getTitle()}" />
                </td>
                <td>
                    <form action="/cart/changeOrdAmo" method="POST">
                        <input name="cartId" type="hidden"th:value="${cartId}">
                        <input name="bookId" type="hidden"th:value="${book.getId()}">
                        <input name="orderAmount" type="number" id="orderAmount" min="0" th:max="${book.getInventory()}" th:value="${books.get(book)}">
                        <button class="ease-in-out duration-300 hover:bg-blue-800 hover:text-white border-blue-800 border-2 rounded-md px-4 py-1 ml-2">Update</button>
                    </form>
                </td>
                <td>
                    <form action="/cart/remove" method="POST">
                        <input name="cartId" type="hidden"th:value="${cartId}">
                        <input name="bookId" type="hidden"th:value="${book.getId()}">
                        <button class="ease-in-out duration-300 hover:bg-blue-800 hover:text-white border-blue-800 border-2 rounded-md px-4 py-1 ml-2">Remove</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
        <p class="ml-4 my-4" th:if="${books == null || books.isEmpty()}">Cart is Empty</p>
        <div class="flex">
            <form action="/cart/clear" method="POST">
                <input name="cartId" type="hidden"th:value="${cartId}">
                <button class="ease-in-out duration-300 hover:bg-blue-800 hover:text-white border-blue-800 border-2 rounded-md px-4 py-1 ml-2">Clear cart</button>
            </form>
            <button class="ease-in-out duration-300 hover:bg-blue-800 hover:text-white border-blue-800 border-2 rounded-md px-4 py-1 ml-2">Checkout</button>
        </div>
    </div>
</body>
</html>