<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Amazin Bookstore</title>

    <!-- Use Tailwind for CSS -->
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <!-- Include header at top of page -->
    <div th:insert="~{header :: header(user=${user})}"></div>
    <div class="mx-4">
        <!-- Search filters and new book button -->
        <div class="flex justify-between items-end py-4">
            <div>
                <p>Search filters:</p>
                <form action="/home" method="GET">
                    <label for="isbnInput">ISBN:</label>
                    <input type="text" id="isbnInput" name="isbn" class="border-2 rounded-md">
                    <label for="titleInput" class="pl-4">Title:</label>
                    <input type="text" id="titleInput" name="title" class="border-2 rounded-md">
                    <label for="authorInput" class="pl-4">Author:</label>
                    <input type="text" id="authorInput" name="author" class="border-2 rounded-md">
                    <label for="publisherInput" class="pl-4">Publisher:</label>
                    <input type="text" id="publisherInput" name="publisher" class="border-2 rounded-md">
                    <label for="genreInput" class="pl-4">Genre:</label>
                    <input type="text" id="genreInput" name="genre" class="border-2 rounded-md">
                    <button class="ease-in-out duration-300 hover:bg-blue-800 hover:text-white border-blue-800 border-2 rounded-md px-4 py-1 ml-4">Search</button>
                </form>
            </div>
            <form action="/home/transit-to-add-book" method="GET">
                <button class="ease-in-out duration-300 hover:bg-blue-800 hover:text-white border-blue-800 border-2 rounded-md px-4 py-1" type="submit">Add new book</button>
            </form>
        </div>

        <!-- Books table or error message -->
        <div>
            <table th:unless="${books == null || books.isEmpty()}" class="w-full">
                <thead>
                <tr>
                    <th></th>
                    <th>ISBN</th>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Description</th>
                    <th>Publisher</th>
                    <th>Genre</th>
                    <th>Inventory</th>
                    <th>Actions</th>
                </tr>
                </thead>

                <tbody class="text-center">
                <tr th:each="book : ${books}">
                    <td class="w-16 h-16">
                        <a>
                            <img th:src="${book.getImageUrl()}">
                        </a>
                    </td>
                    <td>
                        <a th:text="${book.getIsbn()}" />
                    </td>
                    <td>
                        <a th:text="${book.getTitle()}" />
                    </td>
                    <td>
                        <a th:href="'/home?author=' + ${book.getAuthor()}" th:text="${book.getAuthor()}" />
                    </td>
                    <td th:text="${book.getDescription()}" />
                    <td>
                        <a th:href="'/home?publisher=' + ${book.getPublisher()}" th:text="${book.getPublisher()}" />
                    </td>
                    <td>
                        <a th:href="'/home?genre=' + ${book.getGenre()}" th:text="${book.getGenre()}" />
                    </td>
                    <td th:text="${book.getInventory()}" />
                    <td>
                        <div th:if="${book.getInventory() == 0}">
                            <p class="text-red-600">Out of stock</p>
                        </div>
                        <div th:if="${book.getInventory() > 0}">
                            <form action="/cart/add" method="POST">
                                <input name="bookId" type="hidden"th:value="${book.getId()}">
                                <input name="userId" type="hidden">
                                <button class="ease-in-out duration-300 hover:bg-blue-800 hover:text-white border-blue-800 border-2 rounded-md px-4 py-1 ml-2">Add to cart</button>
                            </form>
                        </div>
                        <form action="/home/transit-to-edit-book" method="GET">
                            <input name="id" type="hidden"th:value="${book.getId()}">
                            <button class="ease-in-out duration-300 hover:bg-blue-800 hover:text-white border-blue-800 border-2 rounded-md px-4 py-1 ml-2">Edit book</button>
                        </form>
                        <form action="/home/delete-book" method="POST">
                            <input name="id" type="hidden"th:value="${book.getId()}"/>
                            <button class="ease-in-out duration-300 hover:bg-blue-800 hover:text-white border-blue-800 border-2 rounded-md px-4 py-1 ml-2">Delete book</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
            <p th:if="${books == null || books.isEmpty()}">There are no books to display</p>
        </div>
    </div>
</body>
</html>